h1{
  color: red;
  text-align: center;
  font-size: 100px;
}

.sidebar{
  float: right;
  width: 25%;
  background-color: black;
  color: red;
  text-align: center;
}

p{
  text-align: center;
  color: red;
  font-size: 40px;
}

h2{
  text-align: center;
  color: purple;
  font-size: 75px;
}
.column{
  float: left;
  text-align: center;
  width: 30%;;
}
h4{
  font-size: 30px;
}